openapi: 3.0.3
info:
  title: ABO-WBO Management System API
  description: |
    Comprehensive Enterprise API for ABO-WBO (American Business Organization - World Business Organization) Management System.
    
    This API provides complete functionality for managing hierarchical organizational structures, global events,
    task management, user authentication, and comprehensive reporting across all organizational levels.
    
    ## Organizational Hierarchy
    - **Global**: Top-level organizational management
    - **Godina**: Regional-level coordination
    - **Gamta**: Local-level management  
    - **Gurmu**: Field-level operations
    - **Mana**: Individual household/unit level
    
    ## Key Features
    - Global event management with hierarchical task assignment
    - Multi-level organizational structure support
    - Comprehensive authentication and authorization
    - Real-time notifications and reporting
    - Advanced task management with dependencies
    - Internationalization (English + Afaan Oromoo)
    
  version: 1.0.0
  contact:
    name: ABO-WBO Development Team
    email: dev@abo-wbo.org
    url: https://api.abo-wbo.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.abo-wbo.org/v1
    description: Production Server
  - url: https://staging-api.abo-wbo.org/v1
    description: Staging Server
  - url: http://localhost:8080/api/v1
    description: Development Server

security:
  - BearerAuth: []
  - ApiKeyAuth: []

paths:
  # Authentication Endpoints
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      description: Register a new user in the ABO-WBO system with role and organizational assignment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - password_confirmation
                - role
                - organization_level
                - organization_id
              properties:
                name:
                  type: string
                  example: "John Doe"
                  description: Full name of the user
                email:
                  type: string
                  format: email
                  example: "john.doe@abo.org"
                  description: Unique email address
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123!"
                  description: Strong password with minimum 8 characters
                password_confirmation:
                  type: string
                  format: password
                  example: "SecurePass123!"
                  description: Password confirmation
                role:
                  type: string
                  enum: [admin, coordinator, manager, member, observer]
                  example: "coordinator"
                  description: User role in the organization
                organization_level:
                  type: string
                  enum: [global, godina, gamta, gurmu, mana]
                  example: "godina"
                  description: Organizational level assignment
                organization_id:
                  type: integer
                  example: 2
                  description: ID of the specific organization unit
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and receive access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: "john.doe@abo.org"
                password:
                  type: string
                  format: password
                  example: "SecurePass123!"
                remember_me:
                  type: boolean
                  default: false
                  description: Extended session duration
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many failed attempts - account locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Invalidate current session and access token
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/profile:
    get:
      tags:
        - Authentication
      summary: Get user profile
      description: Retrieve current user's profile information
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Task Management Endpoints
  /tasks:
    get:
      tags:
        - Tasks
      summary: List tasks
      description: |
        Retrieve tasks based on user permissions and filters.
        Results are automatically filtered based on user's organizational level and permissions.
      security:
        - BearerAuth: []
      parameters:
        - name: scope
          in: query
          description: Filter by task scope
          schema:
            type: string
            enum: [global, regional, local, gurmu, mana]
        - name: status
          in: query
          description: Filter by task status
          schema:
            type: string
            enum: [not_started, in_progress, completed, cancelled, on_hold]
        - name: priority
          in: query
          description: Filter by priority level
          schema:
            type: string
            enum: [low, normal, high, urgent, critical]
        - name: category
          in: query
          description: Filter by task category
          schema:
            type: string
            enum: [administrative, technical, event_planning, training, emergency, coordination, outreach, development, logistics, research, legal, meeting]
        - name: assigned_to_me
          in: query
          description: Show only tasks assigned to current user
          schema:
            type: boolean
        - name: search
          in: query
          description: Search in task titles and descriptions
          schema:
            type: string
        - name: due_date_from
          in: query
          description: Filter tasks due after this date
          schema:
            type: string
            format: date
        - name: due_date_to
          in: query
          description: Filter tasks due before this date
          schema:
            type: string
            format: date
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: include_subtasks
          in: query
          description: Include subtasks in response
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Tasks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags:
        - Tasks
      summary: Create new task
      description: |
        Create a new task with optional hierarchical sub-tasks and assignments.
        Supports Global events with multiple organizational level assignments.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
      responses:
        '201':
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCreatedResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tasks/{id}:
    get:
      tags:
        - Tasks
      summary: Get task details
      description: Retrieve detailed information about a specific task including hierarchy and assignments
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
        - name: include_hierarchy
          in: query
          description: Include complete task hierarchy
          schema:
            type: boolean
            default: false
        - name: include_full_hierarchy
          in: query
          description: Include full hierarchy with all levels
          schema:
            type: boolean
            default: false
        - name: include_analytics
          in: query
          description: Include task analytics and metrics
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Task details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetailResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Tasks
      summary: Update task
      description: Update task information, status, and progress
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
      responses:
        '200':
          description: Task updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetailResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Tasks
      summary: Delete task
      description: Delete a task (soft delete with audit trail)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
      responses:
        '200':
          description: Task deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tasks/{id}/assign:
    post:
      tags:
        - Tasks
      summary: Assign task to users
      description: Assign task to multiple users across different organizational levels
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssignmentRequest'
      responses:
        '200':
          description: Task assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssignmentResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tasks/{id}/complete:
    post:
      tags:
        - Tasks
      summary: Complete task
      description: Mark task as completed with completion details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCompletionRequest'
      responses:
        '200':
          description: Task completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetailResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tasks/{id}/analytics:
    get:
      tags:
        - Tasks
      summary: Get task analytics
      description: Retrieve comprehensive analytics and metrics for a task
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
      responses:
        '200':
          description: Task analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAnalyticsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Dashboard and Reporting
  /dashboard/stats:
    get:
      tags:
        - Dashboard
      summary: Get dashboard statistics
      description: Retrieve comprehensive dashboard statistics based on user permissions
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Dashboard statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardStatsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Notifications
  /notifications:
    get:
      tags:
        - Notifications
      summary: Get notifications
      description: Retrieve user notifications with filtering options
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          description: Filter by notification type
          schema:
            type: string
            enum: [task_assigned, task_completed, task_overdue, meeting_scheduled, system_alert]
        - name: status
          in: query
          description: Filter by read status
          schema:
            type: string
            enum: [read, unread, all]
            default: all
        - name: limit
          in: query
          description: Number of notifications to retrieve
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from login endpoint
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for service-to-service communication

  schemas:
    # Authentication Schemas
    RegisterResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "User registered successfully"
        user_id:
          type: integer
          example: 123
        data:
          $ref: '#/components/schemas/UserProfile'

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Login successful"
        token:
          type: string
          example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
        token_type:
          type: string
          example: "Bearer"
        expires_in:
          type: integer
          example: 3600
          description: Token expiration time in seconds
        user:
          $ref: '#/components/schemas/UserProfile'

    UserProfileResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        user:
          $ref: '#/components/schemas/UserProfile'

    UserProfile:
      type: object
      properties:
        id:
          type: integer
          example: 123
        name:
          type: string
          example: "John Doe"
        email:
          type: string
          example: "john.doe@abo.org"
        role:
          type: string
          enum: [admin, coordinator, manager, member, observer]
          example: "coordinator"
        organization_level:
          type: string
          enum: [global, godina, gamta, gurmu, mana]
          example: "godina"
        organization_id:
          type: integer
          example: 2
        organization_name:
          type: string
          example: "Eastern Region"
        permissions:
          type: array
          items:
            type: string
          example: ["manage_regional_events", "view_regional_reports"]
        created_at:
          type: string
          format: date-time
          example: "2025-01-15T10:30:00Z"
        last_login:
          type: string
          format: date-time
          example: "2025-10-26T08:15:30Z"

    # Task Schemas
    CreateTaskRequest:
      type: object
      required:
        - title
        - description
        - scope
        - category
        - priority
      properties:
        title:
          type: string
          maxLength: 255
          example: "Global Conference Planning 2024"
        description:
          type: string
          example: "Plan and coordinate the annual global conference"
        scope:
          type: string
          enum: [global, regional, local, gurmu, mana]
          example: "global"
        category:
          type: string
          enum: [administrative, technical, event_planning, training, emergency, coordination, outreach, development, logistics, research, legal, meeting]
          example: "event_planning"
        priority:
          type: string
          enum: [low, normal, high, urgent, critical]
          example: "high"
        start_date:
          type: string
          format: date
          example: "2025-11-01"
        due_date:
          type: string
          format: date
          example: "2026-03-15"
        estimated_hours:
          type: integer
          minimum: 0
          example: 500
        budget:
          type: number
          format: float
          minimum: 0
          example: 50000.00
        parent_task_id:
          type: integer
          nullable: true
          example: null
          description: ID of parent task for hierarchical structure
        tags:
          type: array
          items:
            type: string
          example: ["conference", "global", "2024"]
        metadata:
          type: object
          description: Additional task-specific metadata
          example:
            event_type: "conference"
            expected_attendees: 1000
            venue_requirements: "Large auditorium"
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/TaskAssignment'
        subtasks:
          type: array
          items:
            $ref: '#/components/schemas/CreateTaskRequest'
          description: Nested subtasks for hierarchical structure

    UpdateTaskRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 255
        description:
          type: string
        priority:
          type: string
          enum: [low, normal, high, urgent, critical]
        status:
          type: string
          enum: [not_started, in_progress, completed, cancelled, on_hold]
        completion_percentage:
          type: integer
          minimum: 0
          maximum: 100
        start_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        estimated_hours:
          type: integer
          minimum: 0
        actual_hours:
          type: integer
          minimum: 0
        budget:
          type: number
          format: float
          minimum: 0
        progress_notes:
          type: string
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    TaskAssignment:
      type: object
      required:
        - user_id
        - role
        - priority
      properties:
        user_id:
          type: integer
          example: 456
        level:
          type: string
          enum: [global, godina, gamta, gurmu, mana]
          example: "godina"
        organization_id:
          type: integer
          example: 2
        role:
          type: string
          example: "regional_coordinator"
        priority:
          type: string
          enum: [low, normal, high, urgent, critical]
          example: "high"
        due_date:
          type: string
          format: date
          example: "2025-12-01"
        expected_hours:
          type: integer
          minimum: 0
          example: 40
        notes:
          type: string
          example: "Lead coordination for eastern region"

    TaskAssignmentRequest:
      type: object
      required:
        - assignments
      properties:
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/TaskAssignment'
        notification_urgency:
          type: string
          enum: [low, normal, high, immediate]
          default: normal
        require_acknowledgment:
          type: boolean
          default: false

    TaskCompletionRequest:
      type: object
      properties:
        completion_notes:
          type: string
          example: "Task completed successfully with all deliverables met"
        actual_hours:
          type: integer
          minimum: 0
          example: 45
        deliverables:
          type: array
          items:
            type: string
          example: ["Final report", "Budget summary", "Lessons learned"]
        lessons_learned:
          type: string
          example: "Better planning needed for resource allocation"
        quality_score:
          type: integer
          minimum: 1
          maximum: 10
          example: 8

    Task:
      type: object
      properties:
        id:
          type: integer
          example: 123
        title:
          type: string
          example: "Global Conference Planning 2024"
        description:
          type: string
          example: "Plan and coordinate the annual global conference"
        scope:
          type: string
          enum: [global, regional, local, gurmu, mana]
          example: "global"
        category:
          type: string
          example: "event_planning"
        priority:
          type: string
          enum: [low, normal, high, urgent, critical]
          example: "high"
        status:
          type: string
          enum: [not_started, in_progress, completed, cancelled, on_hold]
          example: "in_progress"
        completion_percentage:
          type: integer
          minimum: 0
          maximum: 100
          example: 25
        start_date:
          type: string
          format: date
          example: "2025-11-01"
        due_date:
          type: string
          format: date
          example: "2026-03-15"
        estimated_hours:
          type: integer
          example: 500
        actual_hours:
          type: integer
          example: 125
        budget:
          type: number
          format: float
          example: 50000.00
        parent_task_id:
          type: integer
          nullable: true
          example: null
        created_by:
          type: integer
          example: 789
        created_at:
          type: string
          format: date-time
          example: "2025-10-15T09:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-10-26T14:30:00Z"
        completed_date:
          type: string
          format: date-time
          nullable: true
          example: null
        tags:
          type: array
          items:
            type: string
          example: ["conference", "global", "2024"]
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/TaskAssignmentDetail'
        subtasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'

    TaskAssignmentDetail:
      type: object
      properties:
        id:
          type: integer
          example: 456
        task_id:
          type: integer
          example: 123
        assigned_to:
          type: integer
          example: 789
        assignee_name:
          type: string
          example: "Jane Smith"
        assignee_email:
          type: string
          example: "jane.smith@abo.org"
        role:
          type: string
          example: "regional_coordinator"
        priority:
          type: string
          enum: [low, normal, high, urgent, critical]
          example: "high"
        status:
          type: string
          enum: [assigned, accepted, in_progress, completed, rejected]
          example: "in_progress"
        due_date:
          type: string
          format: date
          example: "2025-12-01"
        expected_hours:
          type: integer
          example: 40
        actual_hours:
          type: integer
          example: 15
        progress_percentage:
          type: integer
          minimum: 0
          maximum: 100
          example: 30
        notes:
          type: string
          example: "Lead coordination for eastern region"
        created_at:
          type: string
          format: date-time
          example: "2025-10-20T10:00:00Z"

    TaskCreatedResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Task created successfully"
        task_id:
          type: integer
          example: 123
        data:
          $ref: '#/components/schemas/Task'

    TaskDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            task:
              $ref: '#/components/schemas/Task'
            hierarchy_depth:
              type: integer
              example: 3
            cross_org_assignments:
              type: array
              items:
                $ref: '#/components/schemas/TaskAssignmentDetail'
            resource_summary:
              type: object
              properties:
                total_allocated_hours:
                  type: integer
                  example: 500
                total_participants:
                  type: integer
                  example: 15
                budget_utilization:
                  type: number
                  format: float
                  example: 0.25

    TaskListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    TaskAssignmentResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Task assigned successfully"
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/TaskAssignmentDetail'

    TaskAnalyticsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            task_completion_rate:
              type: number
              format: float
              example: 0.75
            resource_utilization:
              type: object
              properties:
                hours_planned:
                  type: integer
                  example: 500
                hours_actual:
                  type: integer
                  example: 375
                efficiency_ratio:
                  type: number
                  format: float
                  example: 1.33
            timeline_adherence:
              type: object
              properties:
                on_time_completion:
                  type: number
                  format: float
                  example: 0.80
                average_delay_days:
                  type: number
                  format: float
                  example: 2.5
            budget_status:
              type: object
              properties:
                allocated:
                  type: number
                  format: float
                  example: 50000.00
                spent:
                  type: number
                  format: float
                  example: 37500.00
                remaining:
                  type: number
                  format: float
                  example: 12500.00
            performance_metrics:
              type: object
              properties:
                quality_scores:
                  type: array
                  items:
                    type: integer
                  example: [8, 9, 7, 8]
                team_productivity:
                  type: number
                  format: float
                  example: 1.15

    # Dashboard Schemas
    DashboardStatsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            tasks:
              type: object
              properties:
                total_tasks:
                  type: integer
                  example: 245
                completed_tasks:
                  type: integer
                  example: 180
                in_progress_tasks:
                  type: integer
                  example: 45
                overdue_tasks:
                  type: integer
                  example: 12
                completion_rate:
                  type: number
                  format: float
                  example: 0.73
            meetings:
              type: object
              properties:
                total_meetings:
                  type: integer
                  example: 56
                upcoming_meetings:
                  type: integer
                  example: 8
                completed_meetings:
                  type: integer
                  example: 48
            notifications:
              type: object
              properties:
                unread_count:
                  type: integer
                  example: 15
                urgent_count:
                  type: integer
                  example: 3
            resource_utilization:
              type: object
              properties:
                total_hours_allocated:
                  type: integer
                  example: 2400
                total_hours_worked:
                  type: integer
                  example: 1950
                efficiency_rate:
                  type: number
                  format: float
                  example: 0.81
        meta:
          type: object
          properties:
            user_level:
              type: string
              example: "godina"
            timestamp:
              type: string
              format: date-time
              example: "2025-10-26T14:30:00Z"
            cache_expires:
              type: string
              format: date-time
              example: "2025-10-26T15:00:00Z"

    # Notification Schemas
    NotificationListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Notification'

    Notification:
      type: object
      properties:
        id:
          type: integer
          example: 789
        type:
          type: string
          enum: [task_assigned, task_completed, task_overdue, meeting_scheduled, system_alert]
          example: "task_assigned"
        title:
          type: string
          example: "New Task Assignment"
        message:
          type: string
          example: "You have been assigned to 'Global Conference Planning 2024'"
        priority:
          type: string
          enum: [low, normal, high, urgent]
          example: "high"
        is_read:
          type: boolean
          example: false
        related_id:
          type: integer
          nullable: true
          example: 123
          description: ID of related entity (task, meeting, etc.)
        related_type:
          type: string
          nullable: true
          example: "task"
          description: Type of related entity
        created_at:
          type: string
          format: date-time
          example: "2025-10-26T10:15:00Z"
        read_at:
          type: string
          format: date-time
          nullable: true
          example: null

    # Common Schemas
    PaginationInfo:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total_items:
          type: integer
          example: 245
        total_pages:
          type: integer
          example: 13
        has_next:
          type: boolean
          example: true
        has_previous:
          type: boolean
          example: false

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Operation completed successfully"

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "Validation failed"
        message:
          type: string
          example: "The provided data is invalid"
        errors:
          type: object
          description: Detailed validation errors
          example:
            title: ["The title field is required"]
            email: ["The email must be a valid email address"]
        code:
          type: string
          example: "VALIDATION_ERROR"
        timestamp:
          type: string
          format: date-time
          example: "2025-10-26T14:30:00Z"

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Tasks
    description: Task management including Global events and hierarchical operations
  - name: Dashboard
    description: Dashboard statistics and overview data
  - name: Notifications
    description: User notifications and alerts